<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 xl-100">
            <div class="row">
                <div class="col-xl-3 xl-50 col-md-6 box-col-6">
                    <div class="card">
                        <div class="card-body tag-card">
                            <div class="progressbar-widgets">
                                <div class="media media-widgets">
                                    <div class="media-body">
                                        <p class="mb-0">Total Sale</p>
                                        <h3 class="mt-0 mb-0 f-w-600">
                                            <app-feather-icons [icon]="'dollar-sign'"></app-feather-icons><span
                                                class="counter">841,162</span>
                                        </h3>
                                    </div><span class="badge flat-badge-secondary">3.56%<i
                                            class="fa fa-caret-up"></i></span>
                                </div>
                                <div class="progress sm-progress-bar progress-animate">
                                    <div class="progress-gradient-secondary" role="progressbar" style="width: 75%"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><span
                                            class="font-secondary">75%</span><span class="animate-circle"></span></div>
                                </div><span class="tag-content-secondary tag-hover-effect">
                                    <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 xl-50 col-md-6 box-col-6">
                    <div class="card">
                        <div class="card-body tag-card">
                            <div class="progressbar-widgets">
                                <div class="media media-widgets">
                                    <div class="media-body">
                                        <p class="mb-0">Total Purchase</p>
                                        <h3 class="mt-0 mb-0 f-w-600">
                                            <app-feather-icons [icon]="'dollar-sign'"></app-feather-icons><span
                                                class="counter">123,461</span><span><i class="font-success"
                                                    data-feather="trending-up"></i></span>
                                        </h3>
                                    </div><span class="badge flat-badge-success">3.56%<i
                                            class="fa fa-caret-up"></i></span>
                                </div>
                                <div class="progress sm-progress-bar progress-animate">
                                    <div class="progress-gradient-success" role="progressbar" style="width: 80%"
                                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span
                                            class="font-success">80%</span><span class="animate-circle"></span></div>
                                </div><span class="tag-content-success tag-hover-effect">
                                    <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 xl-50 col-md-6 box-col-6">
                    <div class="card bg-primary">
                        <div class="card-body tag-card">
                            <div class="progressbar-widgets">
                                <div class="media media-widgets">
                                    <div class="media-body">
                                        <p class="mb-0 font-light">Active Customers</p>
                                        <h3 class="mt-0 mb-0 f-w-600"><span class="counter">10,14,125</span><span><i
                                                    class="font-light" data-feather="trending-up"></i></span></h3>
                                    </div><span class="badge flat-badge-light font-primary">01.36<i
                                            class="fa fa-caret-up"></i></span>
                                </div>
                                <div class="progress sm-progress-bar progress-animate">
                                    <div class="progress-gradient-light" role="progressbar" style="width: 65%"
                                        aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"><span
                                            class="animate-circle"></span></div>
                                </div><span class="tag-content-light tag-light tag-hover-effect"><i
                                        data-feather="trending-up"> </i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 xl-50 col-md-6 box-col-6">
                    <div class="card">
                        <div class="card-body tag-card">
                            <div class="progressbar-widgets">
                                <div class="media media-widgets">
                                    <div class="media-body">
                                        <p class="mb-0">New Customers</p>
                                        <h3 class="mt-0 mb-0 f-w-600"><span class="counter">9,00,563</span><span><i
                                                    class="font-primary" data-feather="trending-up"></i></span></h3>
                                    </div><span class="badge flat-badge-primary">6.23%<i
                                            class="fa fa-caret-up"></i></span>
                                </div>
                                <div class="progress sm-progress-bar progress-animate">
                                    <div class="progress-gradient-primary" role="progressbar" style="width: 95%"
                                        aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><span
                                            class="animate-circle"></span></div>
                                </div><span class="tag-content-primary tag-hover-effect">
                                    <app-feather-icons [icon]="'trending-up'"></app-feather-icons>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 xl-100 box-col-12">
            <div class="card sales-overview">
                <div class="card-header">
                    <h5>Sales Overview</h5>
                </div>
                <div class="card-body p-0">
                    <div class="row m-0 dashboard-btn-groups">
                        <div class="col-lg-6">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-outline-light" type="button">Hours</button>
                                <button class="btn btn-outline-light" type="button">Day</button>
                                <button class="btn btn-outline-light" type="button">Week</button>
                                <button class="btn btn-outline-light" type="button">Month</button>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="btn-group pull-right" role="group" aria-label="Basic example">
                                <button class="btn btn-outline-light btn-js1" type="button">From Date</button>
                                <button class="btn btn-outline-light btn-js1" type="button">To Date</button>
                                <button class="btn btn-outline-light btn-js1 active" type="button"><i
                                        data-feather="calendar"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-value-box pull-right">
                            <div class="value-square-box-primary"></div><span>Profit</span>
                        </div>
                        <div class="dashboard-rounded-chart">
                            <x-chartist class="small-chart-gradient-1" [data]="chart1.data" [type]="chart1.type"
                                [options]="chart1.options" [events]="chart1.events">
                            </x-chartist>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 xl-100 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Sales By Category</h5>
                </div>
                <div class="card-body p-0">
                    <div class="sales-product-table table-responsive">
                        <table class="table table-bordernone">
                            <tbody>
                                <tr>
                                    <td><img class="img-fluid" src="assets/images/dashboard/sale-product-1.png" alt="">
                                    </td>
                                    <td><span>Latest </span><span class="d-block">Niky Black shoes</span></td>
                                    <td><span class="badge badge-pill pill-badge-secondary">21,562</span></td>
                                    <td><span>28.21%</span></td>
                                </tr>
                                <tr>
                                    <td><img class="img-fluid" src="assets/images/dashboard/sale-product-2.png" alt="">
                                    </td>
                                    <td><span>Latest Men </span><span class="d-block">Shirt</span></td>
                                    <td><span>15,102</span></td>
                                    <td><span>18.00%</span></td>
                                </tr>
                                <tr>
                                    <td><img class="img-fluid" src="assets/images/dashboard/sale-product-3.png" alt="">
                                    </td>
                                    <td><span>Latest Women </span><span class="d-block">Purse</span></td>
                                    <td><span>9562</span></td>
                                    <td><span>08.54%</span></td>
                                </tr>
                                <tr>
                                    <td><img class="img-fluid" src="assets/images/dashboard/sale-product-4.png" alt="">
                                    </td>
                                    <td><span>Latest </span><span class="d-block">Women Sandals</span></td>
                                    <td><span>1002</span></td>
                                    <td><span>01.33%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer sales-product-table-footer">
                    <div class="media"><a class="btn btn-outline-light">Last Week<i
                                class="fa fa-angle-double-right ml-2"></i></a>
                        <div class="media-body"><a class="pull-right" href="javascript:void(0)">View More Reports </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 xl-100 box-col-12">
            <div class="knob-widgets card">
                <div class="row card-body">
                    <div class="col-md-6">
                        <div class="knob" id="profit"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="knob-live-content text-center">
                            <div class="setting-dot">
                                <div class="setting-bg pull-right"><i class="fa fa-spin fa-cog"></i></div>
                            </div>
                            <div class="small-bar">
                                <div>
                                    <x-chartist class="ct-small-left" [data]="smallChart.data" [type]="smallChart.type"
                                        [options]="smallChart.options" [events]="smallChart.events">
                                    </x-chartist>
                                </div>
                            </div>
                            <div class="span badge badge-pill pill-badge-secondary"> <i class="fa fa-circle"></i>Live
                            </div>
                        </div>
                        <div class="knob-bottom-widgets text-center">
                            <h6 class="f-w-600">This Invest Cycle</h6>
                            <h5 class="f-w-600">
                                <app-feather-icons [icon]="'dollar-sign'"></app-feather-icons>785,000
                            </h5>
                            <h6 class="f-w-600 mb-0">Current Balance This Invest Cycle</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-7 xl-100 box-col-12">
            <div class="card sales-overview">
                <div class="card-header">
                    <h5>Our Growth</h5>
                </div>
                <div class="card-body chart-block">
                    <x-chartist id="our-growth" class="small-chart-gradient-1" [data]="chart2.data" [type]="chart2.type"
                        [options]="chart2.options" [events]='chart2.events'></x-chartist>
                    <div class="chart-value-box pull-right">
                        <div class="value-square-box-warning"></div><span>Profit</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 xl-50 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Our Best Seller</h5>
                </div>
                <div class="card-body p-0">
                    <div class="sales-product-table table-responsive">
                        <table class="table table-bordernone">
                            <thead>
                                <tr>
                                    <th scope="col">Number</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Account</th>
                                    <th scope="col">Sales</th>
                                    <th scope="col">Percentage</th>
                                    <th scope="col">Custmoize</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <tr *ngFor="let seller of sellers$ |async;let index=i"> -->
                                    <td>01</td>
                                    <td>
                                        <div class="d-inline-block align-middle"><img
                                                class="img-radius img-30 align-top m-r-15 rounded-circle"
                                                src="assets/images/user/2.png" alt="">
                                            <div class="d-inline-block">
                                                <h6 class="f-w-600">Nick Stone</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span>NikyBlack87@gmail.com</span></td>
                                    <td><span>21,562</span></td>
                                    <td><span>28.21%</span></td>
                                    <td><span class="badge badge-pill pill-badge-secondary">Edit</span></td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>
                                        <div class="d-inline-block align-middle"><img
                                                class="img-radius img-30 align-top m-r-15 rounded-circle"
                                                src="assets/images/user/5.jpg" alt="">
                                            <div class="d-inline-block">
                                                <h6 class="f-w-600">Milano Esco</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span>Milanoesco56@gmal.com</span></td>
                                    <td><span>15,102</span></td>
                                    <td><span>18.00%</span></td>
                                    <td><span class="badge badge-pill pill-badge-success">Edit</span></td>
                                </tr>
                                <tr>
                                    <td>03</td>
                                    <td>
                                        <div class="d-inline-block align-middle"><img
                                                class="img-radius img-30 align-top m-r-15 rounded-circle"
                                                src="assets/images/user/3.jpg" alt="">
                                            <div class="d-inline-block">
                                                <h6 class="f-w-600">Wiltor Noice</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span>Wiltornoice34@gmail.com</span></td>
                                    <td><span>9562</span></td>
                                    <td><span>08.54%</span></td>
                                    <td><span class="badge badge-pill pill-badge-warning">Edit</span></td>
                                </tr>
                                <tr>
                                    <td>04</td>
                                    <td>
                                        <div class="d-inline-block align-middle"><img
                                                class="img-radius img-30 align-top m-r-15 rounded-circle"
                                                src="assets/images/user/4.jpg" alt="">
                                            <div class="d-inline-block">
                                                <h6 class="f-w-600">Anna Strong</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span>Annastrong67@gmail.com</span></td>
                                    <td><span>1002</span></td>
                                    <td><span>01.33%</span></td>
                                    <td><span class="badge badge-pill pill-badge-primary">Edit</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 xl-50 box-col-12">
            <div class="card">
                <div class="card-body">
                    <div class="call-chat-card text-center">
                        <div class="setting-dot">
                            <div class="setting-bg pull-right"><i class="fa fa-spin fa-cog"></i></div>
                        </div>
                        <div class="call-images"><img class="img-fluid" src="assets/images/dashboard/call-chat-1.png"
                                alt=""><img class="img-fluid" src="assets/images/dashboard/call-chat-2.png" alt="">
                        </div>
                        <h5 class="f-w-600">11:36</h5>
                        <div class="call-chart-height">
                            <div class="call-chart">
                                <x-chartist class="small-chart-gradient-1" [data]="chart3.data" [type]="chart3.type"
                                    [options]="chart3.options" [events]="chart3.events">
                                </x-chartist>
                            </div>
                        </div>
                        <div class="call-chat-bottom">
                            <div class="text-center">
                                <div class="d-inline-block"><i data-feather="pause"></i></div>
                                <div class="d-inline-block"><a class="bg-secondary call-receive"><i
                                            data-feather="phone"></i></a></div>
                                <div class="d-inline-block"><i data-feather="volume-2"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 xl-100 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Work Plan</h5>
                </div>
                <div class="card-body">
                    <div class="work-plan text-center"><img class="img-fluid"
                            src="assets/images/dashboard/work-plan.png" alt="">
                        <h6>10:00 AM</h6>
                        <h5 class="f-w-600">5 Year Celebration</h5>
                        <p>Discussion About our new project and etc....</p>
                    </div>
                </div>
                <div class="card-footer">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-lg theme-pagination">
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">21</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">22</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">23</a></li>
                            <li class="page-item active"><a class="page-link" href="javascript:void(0)">24</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">25</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">26</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">27</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-xl-7 xl-100 box-col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Purchase and sales </h5>
                </div>
                <div class="card-body">
                    <div class="row dashboard-map">
                        <div class="col-md-8">
                            <div>
                                <apx-chart [series]="mapChart.series" [chart]="mapChart.chart" [xaxis]="mapChart.xaxis"
                                    [yaxis]="mapChart.yaxis" [dataLabels]="mapChart.dataLabels"
                                    [stroke]="mapChart.stroke" [colors]=mapChart.colors [fill]="mapChart.fill"
                                    [tooltip]="mapChart.tooltip" [grid]="mapChart.grid"
                                    [responsive]="mapChart.responsive"></apx-chart>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="map-right-box">
                                <div class="media">
                                    <div class="map-box bg-warning box-color-warning"><i data-feather="users"></i>
                                    </div>
                                    <div class="media-body"><span>Total New User</span>
                                        <h5>53,952,718</h5>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="map-box bg-primary box-color-primary"><i data-feather="droplet"></i>
                                    </div>
                                    <div class="media-body"><span>Bounce Date</span>
                                        <h5>96%</h5>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="map-box bg-secondary box-color-secondary"><i data-feather="clock"></i>
                                    </div>
                                    <div class="media-body"><span>Session duartion</span>
                                        <h5>06:12:56</h5>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="map-box bg-success box-color-success"><i data-feather="coffee"></i>
                                    </div>
                                    <div class="media-body"><span>Session</span>
                                        <h5>06:12:56 </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->