<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Basic Card</h5>
                </div>
                <div class="card-body">
                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card b-r-0">
                <div class="card-header">
                    <h5>Flat Card</h5>
                </div>
                <div class="card-body">
                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card shadow-0 border">
                <div class="card-header">
                    <h5>Without shadow Card</h5>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet vehicula placerat. Proin et suscipit dolor. Fusce
                    viverra finibus tristique. Ut interdum, urna sit amet convallis feugiat, felis felis molestie lorem, ut vehicula metus
                    enim eget risus. Morbi nec elit quis ex vestibulum varius quis eu erat. Fusce eget malesuada nunc. Donec mollis
                    malesuada augue, in tempor nunc euismod venenatis. Duis at congue dolor. Nam at arcu finibus, feugiat arcu rutrum, porta
                    tellus. Fusce erat lacus, dictum sed risus sit amet, imperdiet pellentesque nisl.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5><i class="icofont icofont-truck mr-2"></i> Icon in Heading</h5>
                </div>
                <div class="card-body">
                    <p>Suspendisse turpis odio, pulvinar eu tristique sit amet, luctus vel nisl. Nunc a elementum nisi, id aliquam enim.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam orci est, aliquam
                    ac augue non, lacinia ornare erat. Vestibulum convallis felis quis augue interdum fermentum ut eget erat. Donec lacinia
                    augue vel urna condimentum faucibus. Nullam magna leo, dapibus eget laoreet et, efficitur quis nulla. Suspendisse varius
                    lacus sit amet velit consequat varius. Praesent mattis facilisis justo quis vehicula.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card height-equal">
                <div class="card-header">
                    <h5>Card sub Title</h5><span>Using the <a href="javascript:void(0)">card</a> component, you can extend the default
                        collapse behavior to create an accordion.</span>
                </div>
                <div class="card-body">
                    <p>Nulla vel pretium augue, eu rhoncus lectus. Etiam ultricies justo id velit malesuada, nec vulputate nulla suscipit.
                    Aenean pretium nunc id dolor sollicitudin, vel porta urna imperdiet. Proin sed turpis ligula. Curabitur varius quam
                    neque, ut maximus ex malesuada vitae. Donec sit amet tristique urna. Cras lorem mi, blandit maximus vulputate eu,
                    laoreet in mauris. Suspendisse potenti. Nunc et ante volutpat, aliquam tortor ut, ultrices eros. Aenean eget placerat
                    lorem, et condimentum magna.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card height-equal">
                <div class="card-header">
                    <h5>Card With Footer</h5>
                </div>
                <div class="card-body">
                    <p>LPellentesque ut metus nec neque aliquet mollis. Maecenas mattis eros quis augue luctus, et accumsan lacus posuere.
                    Suspendisse dignissim sapien nec vulputate tristique. Maecenas dictum nisl nisl, sit amet ullamcorper mauris mollis at.
                    Praesent luctus id metus consectetur sodales. Praesent euismod lacus vitae quam viverra molestie. Praesent eget
                    convallis orci, ac efficitur urna. Etiam imperdiet mauris eros, non finibus metus suscipit a.</p>
                </div>
                <div class="card-footer">
                    <h6 class="mb-0">Card Footer</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header bg-primary">
                    <h5 class="text-white">Primary Color Card</h5>
                </div>
                <div class="card-body bg-primary">
                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the.</p>
                </div>
                <div class="card-footer bg-primary">
                    <h6 class="mb-0">Card Footer</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="text-white">Secondary Color Card</h5>
                </div>
                <div class="card-body bg-secondary">
                    <p class="mb-0">Nunc rhoncus risus vitae enim aliquet, at molestie neque pretium. Praesent varius, enim et aliquet congue, ipsum eros
                    pulvinar ex, non dignissim lorem risus a tellus. Nullam sodales et sapien ut sollicitudin. Praesent quis pulvinar nulla.
                    Praesent ut suscipit neque, eu dignissim nisl. Quisque tristique lorem ut dictum sollicitudin. Quisque quis molestie
                    neque, quis rutrum metus. Proin tempor placerat nisi, nec pulvinar tellus. Vivamus cursus erat enim, vitae luctus dolor
                    pulvinar at. Maecenas a faucibus neque.</p>
                </div>
                <div class="card-footer bg-secondary">
                    <h6 class="mb-0 text-white">Card Footer</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header bg-success">
                    <h5 class="text-white">Success color Card</h5>
                </div>
                <div class="card-body bg-success">
                    <p class="mb-0">Integer lacinia sit amet orci at viverra. Etiam accumsan, turpis in bibendum finibus, risus eros cursus metus, vitae
                    bibendum est ipsum ac metus. Nam bibendum odio ac massa ornare imperdiet. Aenean at placerat magna. Maecenas consectetur
                    tortor nec sapien venenatis efficitur. Nunc sagittis tempus massa, quis dignissim metus lacinia et. Sed tempor sapien
                    sed neque mollis molestie. Donec sed tincidunt libero. Duis cursus accumsan nulla sed interdum. Vestibulum ultricies
                    diam faucibus enim scelerisque, non vehicula ipsum condimentum.</p>
                </div>
                <div class="card-footer bg-success">
                    <h6 class="mb-0">Card Footer</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header bg-primary">
                    <h5 class="text-white">Primary Color Header</h5>
                </div>
                <div class="card-body">
                    <p class="mb-0">Donec nisl risus, volutpat a maximus quis, pellentesque rutrum risus. Nunc eget arcu sem. Vivamus mollis lacus vitae
                    eros dignissim scelerisque. Proin vitae sem tellus. Vivamus egestas nulla ante, lobortis interdum mi rhoncus nec. Mauris
                    iaculis lectus eros, quis fringilla felis tincidunt nec. In eu lacinia eros, sit amet molestie ipsum. Morbi vel
                    consequat quam. Suspendisse porta sem nibh. Duis nec erat tristique, pellentesque turpis non, malesuada enim.</p>
                </div>
                <div class="card-footer">
                    <h6 class="mb-0">Card Footer</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Primary Color Body</h5>
                </div>
                <div class="card-body bg-primary">
                    <p class="mb-0">Nam odio felis, placerat id eleifend ac, egestas pellentesque tortor. Nullam a tellus enim. Ut lacinia mi ultricies
                    pellentesque feugiat. Suspendisse porta sapien sit amet egestas interdum. Donec eu sodales purus. Nulla eleifend
                    pellentesque ligula quis tincidunt. Morbi scelerisque magna ut nisi ultricies, eu placerat quam lacinia. Aliquam iaculis
                    tortor in risus malesuada vulputate. Curabitur at velit a lectus gravida porta fringilla id est. Pellentesque aliquam ut
                    tortor vel porta. Duis at iaculis ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                    turpis egestas. Etiam quis tristique eros, in facilisis tortor.</p>
                </div>
                <div class="card-footer">
                    <h6 class="mb-0">Card Footer</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Primary Color Footer</h5>
                </div>
                <div class="card-body">
                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the.</p>
                </div>
                <div class="card-footer bg-primary">
                    <h6 class="mb-0">Card Footer</h6>
                </div>
            </div>
        </div>
    </div>
</div>